<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Skill #<%= skill._id %></h1>
  <h2><%= skill.text %></h2>
  <p>Complete: <%= skill.done ? 'Yes' : 'No' %></p>
  <a href="/skills/<%= skill._id %>/edit">Edit</a>
  <a href="/skills">Go back</a>
</body>
</html>